.cardWrapper{
    width: 235px;
    height: 251px;
    border-radius: 15px;
    border: 1px solid #DFDFDF;
    background-color: #FFFFFF;
    padding: 20px;
}

.header{
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 95px;
    height: 17px;
    flex-direction: row;
}

.dragIcon{
    width: 12px;
    height: 7.09px;
    margin-right: 6px;
}

.headerText{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #A5A5A5;
}

.functionBody{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 18px;
}

.equationWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.dropDownWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input{
    width: 100%;
    height: 33px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    padding: 0px 8px;
    box-sizing: border-box;
}

.equationWrapper p {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    margin-bottom: 5px;
}

.equationWrapper .input {
    margin-top: 0;
}

.dropDownWrapper p {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    margin-bottom: 5px;
}

.dropDownWrapper .input {
    margin-top: 0;
    background-color: #F5F5F5;
}

.inputOutputWrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connectorWrapper{
    display:flex ;
    align-items: center;
    width: 56px;
    justify-content: space-between;
}

.connector{
    display: flex;
    border: 3px solid #DBDBDB;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.connectorChild{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1976D2;
}

.inputOutputText{
    color:#585757;
    font-size: 10px;
    line-height: 12.1px;
}